openapi: '3.0.0'
info:
  version: 1.0.0
  title: Adam Smitt
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /lessons:
    get:
      summary: List all lessons
      operationId: listLessons
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of lessons
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lessons'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create lesson
      operationId: createLesson
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /lessons/{lessonId}:
    get:
      summary: Get lesson info
      operationId: showLessonById
      parameters:
        - name: lessonId
          in: path
          required: true
          description: The id of the lesson to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lessons'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /words:
    get:
      summary: List all words
      operationId: listWords
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of words
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Words'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create word
      operationId: createWord
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Lesson:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
    Lessons:
      type: array
      items:
        $ref: '#/components/schemas/Lesson'
    Word:
      required:
        - id
        - term
      properties:
        id:
          type: integer
          format: int64
        term:
          type: string
        translation:
          type: string
    Words:
      type: array
      items:
        $ref: '#/components/schemas/Word'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string